@model Triton.Operations.Models.AuditViewModel;
@{
    ViewData["Title"] = "GetById";
}


<main id="content" role="main" class="main">

    <div class="content container-fluid">
        <!-- Page Header -->

        <div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">

            <ul class="nav nav-tabs align-items-center">
                <li class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Agents</a></li>
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">RoadFreightAgent</a></li>
                        </ol>
                    </nav>

                    <h1 class="page-header-title">Overview</h1>
                <li />
                <li class="nav-item ml-auto">
                    <a class="btn btn-sm btn-outline-primary mr-2" href="@Url.Action("Search", "RoadFreightAgent")">Search</a>
                </li>
         

            </ul>
        </div>

        <!-- End Row -->
        <!-- End Page Header -->
    </div>
    <div class="content container-fluid my-n9">
        <div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">
            <span class="hs-nav-scroller-arrow-prev" style="display: none;">
                <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                    <i class="tio-chevron-left"></i>
                </a>
            </span>

            <span class="hs-nav-scroller-arrow-next" style="display: none;">
                <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                    <i class="tio-chevron-right"></i>
                </a>
            </span>

            <ul class="nav nav-tabs align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("RoadFreightAgentSummary", "RoadFreightAgent", new { roadFreightAgentId = @Model.RoadFreightAgentID, filterDate = Model.SelectedDate})">Summary</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active">Audit</a>
                </li>


            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
                        <form>
                            <!-- Search -->
                            <div class="input-group input-group-merge input-group-flush">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-search"></i>
                                    </div>
                                </div>
                                <input id="datatableSearch" type="search" class="form-control" placeholder="Filter results" aria-label="Filter results">
                            </div>
                            <!-- End Search -->
                        </form>
                    </div>
                    <!-- Unfold -->
                    <div class="hs-unfold">
                        <a class="js-hs-unfold-invoker btn btn-sm btn-white dropdown-toggle" href="javascript:;" data-hs-unfold-options="{
                             &quot;target&quot;: &quot;#usersExportDropdown&quot;,
                             &quot;type&quot;: &quot;css-animation&quot;
                           }" data-hs-unfold-target="#usersExportDropdown" data-hs-unfold-invoker="">
                            <i class="tio-download-to mr-1"></i> Export
                        </a>

                        <div id="usersExportDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm-right hs-unfold-hidden hs-unfold-content-initialized hs-unfold-css-animation animated hs-unfold-reverse-y" data-hs-target-height="275" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
                            <span class="dropdown-header">Options</span>
                            <a id="export-copy" class="dropdown-item" href="javascript:;">
                                <img class="avatar avatar-xss avatar-4by3 mr-2" src="~/front-dashboard-v1.1/dist/assets/svg/illustrations/copy.svg" alt="Image Description">
                                Copy
                            </a>
                            <a id="export-print" class="dropdown-item" href="javascript:;">
                                <img class="avatar avatar-xss avatar-4by3 mr-2" src="~/front-dashboard-v1.1/dist/assets/svg/illustrations/print.svg" alt="Image Description">
                                Print
                            </a>
                            <div class="dropdown-divider"></div>
                            <span class="dropdown-header">Download options</span>
                            <a id="export-excel" class="dropdown-item" href="javascript:;">
                                <img class="avatar avatar-xss avatar-4by3 mr-2" src="~/front-dashboard-v1.1/dist/assets/svg/brands/excel.svg" alt="Image Description">
                                Excel
                            </a>
                            <a id="export-csv" class="dropdown-item" href="javascript:;">
                                <img class="avatar avatar-xss avatar-4by3 mr-2" src="~/front-dashboard-v1.1/dist/assets/svg/components/placeholder-csv-format.svg" alt="Image Description">
                                .CSV
                            </a>
                            @*<a id="export-pdf" class="dropdown-item" href="javascript:;">
                                    <img class="avatar avatar-xss avatar-4by3 mr-2" src="~/front-dashboard-v1.1/dist/assets/svg/brands/pdf.svg" alt="Image Description">
                                    PDF
                                </a>*@
                        </div>
                    </div>
                    <!-- End Unfold -->

                </div>
            </div>
            <div class="table-responsive datatable-custom">
                <div id="exportOptionsDatatables_wrapper" class="dataTables_wrapper">
                    <table id="exportOptionsDatatables" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table" style="margin-bottom:150px"
                           data-hs-datatables-options='{
                     "order": [0, "asc"],
                     "columnDefs": [ {
                            "targets": 5,
                            "orderable": false
                     } ],
                     "info": {
                       "totalQty": "#datatableWithPaginationInfoTotalQty"
                     },
                     "search": "#datatableSearch",
                     "entries": "#datatableEntries",
                     "pageLength": 8,
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatablePagination"
                   }'>
                        <thead class="thead-light">
                            <tr>
                                <th>User Name</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Comments</th>
                                <th>Created On</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody class="font-size-1">
                         
                                @for (int i = 0; i < @Model.RoadFreightAgentHistoryModel.Count; i++)
                                {

                            <tr>
                                <td class="align-middle">
                                    <a class="d-flex align-items-center">
                                        <div class="avatar avatar-soft-primary avatar-circle mr-3">
                                            <span class="avatar-initials">@Model.RoadFreightAgentHistoryModel[i].Users.FWUsername.Substring(0, 1)</span>
                                        </div>
                                        <div class="media-body">
                                            <span class="d-block h5 text-hover-primary mb-0">@Model.RoadFreightAgentHistoryModel[i].Users.FWUsername</span>

                                        </div>

                                    </a>
                                </td>


                                <td class="align-middle">
                                    <div class="media align-items-center">

                                        <span>@Model.RoadFreightAgentHistoryModel[i].Categories.Name</span>

                                    </div>
                                </td>
                                <td class="align-middle">
                                    <div class="media align-items-center">

                                        <span>@Model.RoadFreightAgentHistoryModel[i].Status.Name</span>

                                    </div>
                                </td>
                                <td class="align-middle">
                                    <div class="media align-items-center">

                                        <span>@Model.RoadFreightAgentHistoryModel[i].RoadFreightAgentHistory.Comments</span>

                                    </div>
                                </td>
                                <td>
                                    <span class="d-block h5 mb-0">@Model.RoadFreightAgentHistoryModel[i].RoadFreightAgentHistory.CreatedOn.ToString("dd MMMM yyyy")</span>
                                    <span class="d-block font-size-sm">@Model.RoadFreightAgentHistoryModel[i].RoadFreightAgentHistory.CreatedOn.ToString("hh:mm:tt")</span>
                                </td>


                            </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End Table -->
            <!-- Footer -->
            <div class="card-footer">
                <!-- Pagination -->
                <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                    <div class="col-sm mb-2 mb-sm-0">
                        <!--<div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                        <span class="mr-2">Showing:</span>-->
                        @*Select*@
                        <!--<select id="datatableEntries" class="js-select2-custom"
                                      data-hs-select2-options='{
                          "minimumResultsForSearch": "Infinity",
                          "customClass": "custom-select custom-select-sm custom-select-borderless",
                          "dropdownAutoWidth": true,
                          "width": true
                        }'>
                                  <option value="4">4</option>
                                  <option value="6">6</option>
                                  <option value="8" selected>8</option>
                                  <option value="12">12</option>
                              </select>-->
                        @*End Select*@
                        <!--<span class="text-secondary mr-2">of</span>-->
                        @*Pagination Quantity*@
                        <!--<span id="datatableWithPaginationInfoTotalQty"></span>
                        </div>-->
                    </div>

                    <div class="col-sm-auto">
                        <div class="d-flex justify-content-center justify-content-sm-end">
                            <!-- Pagination -->
                            <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                        </div>
                    </div>
                </div>
                <!-- End Pagination -->
            </div>
            <!-- End Footer -->

        </div>

    </div>

</main>



