@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model EmployeeModel
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Header"] = "Corvid-19";
    ViewData["HeaderBold"] = "Screening";
    ViewData["Description"] = "Complete the form below to perform a screening";

    var template = $"{Configuration.GetSection("URL").GetSection("template").Value}";
}

<div class="container space-top-5">
    <form id="form" method="post" class="js-validate" asp-action="Info" asp-controller="Person">
        <h3 class="mb-4">Visitor</h3>
        <div class="row">
            <div class="col-md-12">
                @*@foreach (var item in Model.QuestionnaireModel.QuestionsandAnswers)*@
                @for (var i = 0; i < Model.QuestionnaireModel.QuestionsandAnswers.Count; i++)
                {
                    var modelQuestion = Model.QuestionnaireModel.QuestionsandAnswers[i];
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-9 col-form-label">
                            @if (modelQuestion.Question.QuestionCategoryLCId == 397)
                            {
                                <i class="fad fa-circle"></i>
                            }
                            @modelQuestion.Question.QuestionText
                        </label>
                        <div class="col-sm-3">
                            @if (modelQuestion.Question.QuestionFieldTypeLCId == 398)
                            {
                                <input type="text" asp-for="QuestionnaireModel.QuestionsandAnswers[i].Answer.Response" class="form-control" id="txt-@i" data-parsley-required="@modelQuestion.Question.Required">
                            }
                            @if (modelQuestion.Question.QuestionFieldTypeLCId == 387 || modelQuestion.Question.QuestionFieldTypeLCId == 394)
                            {
                                <input type="text" asp-for="QuestionnaireModel.QuestionsandAnswers[i].Answer.Response" class="form-control" id="txt-@i"
                                       data-parsley-required="@modelQuestion.Question.Required"
                                       data-parsley-type="@modelQuestion.QuestionFieldType.Name"
                                       data-parsley-required-message="@modelQuestion.Question.ErrorText"
                                       data-parsley-errors-container="#errorContainer"
                                       value="@(modelQuestion.Question.QuestionnaireQuestionId == 13 ? Model.Employee.CurrentEmployeeCode : "")"
                                       readonly="@(modelQuestion.Question.QuestionnaireQuestionId == 13)">
                            }
                            else if (Model.QuestionnaireModel.QuestionsandAnswers[i].Question.QuestionFieldTypeLCId == 388)
                            {
                                @*<input type="checkbox" id="chk-@item.Question.QuestionFieldTypeLCId" data-parsley-errors-container="#errorContainer">*@
                                <div class="d-flex justify-content-center align-items-center mb-5">
                                    <span class="font-size-1 text-muted"> No</span>

                                    <label class="toggle-switch d-flex" for="customSwitch-@Model.QuestionnaireModel.QuestionsandAnswers[i].Question.QuestionnaireQuestionId">
                                        <input type="checkbox" asp-for="QuestionnaireModel.QuestionsandAnswers[i].Answer.Response" class="toggle-switch-input" id="customSwitch-@Model.QuestionnaireModel.QuestionsandAnswers[i].Question.QuestionnaireQuestionId">
                                        <span class="toggle-switch-label">
                                            <span class="toggle-switch-indicator"></span>
                                        </span>
                                    </label>
                                    <span class="font-size-1 text-muted"> Yes</span>
                                </div>
                            }
                        </div>
                    </div>
                    @Html.HiddenFor(x => x.QuestionnaireModel.QuestionsandAnswers[i].Answer.QuestionId)
                    <input type="hidden" asp-for="QuestionnaireModel.QuestionsandAnswers[i].Answer.CreatedByGroupUserId" id="hdCreatedBy" value="@Model.CreatedByUserId" />
                    <input type="hidden" asp-for="QuestionnaireModel.QuestionsandAnswers[i].Answer.CreatedOn" id="hdCreatedOn" value="@DateTime.Now" />
                    <input type="hidden" asp-for="QuestionnaireTemplateId" id="hdCreatedOn" value="2" />
                }

            </div>
        </div>
        <div class="col-sm-12 text-sm-right">
            <button type="submit" class="btn btn-primary transition-3d-hover">Save</button>
            <div id="errorContainer"></div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            enableValidation("#form");

            // initialization of toggle state
            $('.js-toggle-state').each(function () {
                var toggleState = new HSToggleState($(this)).init();
            });
        });

    </script>
}