@model IEnumerable<Triton.Service.Model.TritonGroup.StoredProcs.proc_RoleGroup_Select>

@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int height;
}

<main id="content" role="main" class="main">
    <!-- Breadcrumb Section -->
    <partial name="_LayoutHeader" view-data='@new ViewDataDictionary(ViewData) { { "HeadingDetails", "Operations" },{ "HeadingSubTittle", "Role" },{ "HeadingSubDetails", "Overview" },{ "hrefLink", @Url.Action("Create", "RoleGroup") },{ "action", "Create" },{ "btnIcon", "fal fa-user-tag" } }' />
    <!-- End Breadcrumb Section -->
    <!-- Content Section -->

    <div class="content container-fluid my-n9">
        <div class="card">
            <!-- Header -->
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
                        <form>
                            <!-- Search -->
                            <div class="input-group input-group-merge input-group-flush">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-search"></i>
                                    </div>
                                </div>
                                <input id="datatableSearch" type="search" class="form-control" placeholder="Filter results" aria-label="Filter results">
                            </div>
                            <!-- End Search -->
                        </form>
                    </div>
                </div>
                <!-- End Row -->
            </div>
            <!-- End Header -->
            <!-- Table -->
            @if (Model.Count() >= 1)
            {
                height = 150;
            }
            else
            {
                height = 0;

            }
            <div class="table-responsive datatable-custom">
                <div id="datatable_wrapper" class="dataTables_wrapper">
                    <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table" style="margin-bottom: @(height+"px");"
                           data-hs-datatables-options='{
                     "order": [0, "desc"],
                     "columnDefs": [ {
                            "targets": 4,
                            "orderable": false
                     } ],
                     "info": {
                       "totalQty": "#datatableWithPaginationInfoTotalQty"
                     },
                     "search": "#datatableSearch",
                     "entries": "#datatableEntries",
                     "pageLength": 8,
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatablePagination"
                   }'>
                        <thead class="thead-light">
                            <tr>
                                <th>Role Name</th>
                                <th>System</th>
                                <th>Status</th>
                                <th>Created On</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="font-size-1">
                            @foreach (var item in Model)
                            {
                            
                            <tr class="">
                                @{
                                    var activeText = "Active";
                                    var dataOriginalTitle = "De-Activate";
                                    var colorAvatar = "soft-success";
                                    var color = "bg-success";

                                    if (!@item.IsActive)
                                    {
                                        dataOriginalTitle = "Activate";
                                        colorAvatar = "soft-danger";
                                        activeText = "Inactive";
                                        color ="bg-danger";
                                    }
                                }
                                <td class="align-middle">
                                    <a class="d-flex align-items-center">
                                        <div class="avatar avatar-sm avatar-@colorAvatar avatar-circle mr-3">
                                            <span class="avatar-initials">@item.RoleName.Substring(0, 1)</span>
                                        </div>
                                        <div class="ml-3">
                                            <span class="d-block h5  mb-0">@item.RoleName</span>
                                        </div>
                                    </a>
                                </td>

                                <td class="align-middle">
                                    <div class="media align-items-center">
                                        <span>@item.System</span>
                                    </div>
                                </td>

                                <td class="align-middle">

                                    <div class="media align-items-center">
                                        <span class="legend-indicator @color mr-2">
                                        </span>
                                        <small class="d-block">@activeText</small>
                                    </div>
                                </td>
                                <td>
                                    <span class="d-block h5 mb-0">@item.CreatedOn.ToString("dd MMMM yyyy")</span>
                                    <span class="d-block font-size-sm">@item.CreatedOn.ToString("hh:mm:tt")</span>
                                </td>
                                <td class="align-middle">
                                    <div class="hs-unfold">
                                        <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;" data-hs-unfold-options="{
                                            &quot;target&quot;: &quot;#@item.RoleGroupID&quot;,
                                            &quot;type&quot;: &quot;css-animation&quot;
                                        }" data-hs-unfold-target="#@item.RoleGroupID" data-hs-unfold-invoker="">
                                            Actions <i class="tio-chevron-down ml-1"></i>
                                        </a>

                                        <div id="@item.RoleGroupID" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right hs-unfold-content-initialized hs-unfold-css-animation animated hs-unfold-hidden" data-hs-target-height="145.078" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
                                            <a class="dropdown-item" href="@Url.Action("Edit", "RoleGroup", new { roleGroupId = item.RoleGroupID})"><i class="fal fa-edit mr-2"></i>Edit</a>

                                            <a class="dropdown-item" href="@Url.Action("DeleteRoleGroup", "RoleGroup", new { roleGroupId = item.RoleGroupID , actionPerfomed = @dataOriginalTitle})"><i class="tio-delete dropdown-item-icon text-danger"></i>@dataOriginalTitle</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End Table -->
            <!-- Footer -->
            <div class="card-footer">
                <!-- Pagination -->
                <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                    <div class="col-sm mb-2 mb-sm-0">
                        <!--<div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                <span class="mr-2">Showing:</span>-->
                        @*Select*@
                        <!--<select id="datatableEntries" class="js-select2-custom"
                              data-hs-select2-options='{
                  "minimumResultsForSearch": "Infinity",
                  "customClass": "custom-select custom-select-sm custom-select-borderless",
                  "dropdownAutoWidth": true,
                  "width": true
                }'>
                          <option value="4">4</option>
                          <option value="6">6</option>
                          <option value="8" selected>8</option>
                          <option value="12">12</option>
                      </select>-->
                        @*End Select*@
                        <!--<span class="text-secondary mr-2">of</span>-->
                        @*Pagination Quantity*@
                        <!--<span id="datatableWithPaginationInfoTotalQty"></span>
                </div>-->
                    </div>

                    <div class="col-sm-auto">
                        <div class="d-flex justify-content-center justify-content-sm-end">
                            <!-- Pagination -->
                            <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                        </div>
                    </div>
                </div>
                <!-- End Pagination -->
            </div>
            <!-- End Footer -->
        </div>

    </div>


</main>