@model DailySalesReportModel
<main id="content" role="main" class="bg-light">
    <!-- Breadcrumb Section -->
    <div class="bg-navy" style="background-image: url(@LocalisationService.HtmlTemplate/assets/svg/components/abstract-shapes-20.svg);">
        <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
            <div class="row align-items-center">
                <div class="col">
                    <div class="d-none d-lg-block">
                        <h1 class="h2 text-white">Opreations Daily Sales</h1>
                    </div>

                    <!-- Breadcrumb -->
                    <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
                        <li class="breadcrumb-item">Report Manager</li>
                        <li class="breadcrumb-item active" aria-current="page">Opreations Daily Sales</li>
                    </ol>
                    <!-- End Breadcrumb -->
                </div>

                <div class="col-auto">
                    <!-- Responsive Toggle Button -->
                    <button type="button" class="navbar-toggler btn btn-icon btn-sm rounde-circle d-lg-none" aria-label="Toggle navigation" aria-expanded="false" aria-controls="sidebarNav" data-toggle="collapse" data-target="#sidebarNav">
                        <span class="navbar-toggler-default">
                            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"></path>
                            </svg>
                        </span>
                        <span class="navbar-toggler-toggled">
                            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"></path>
                            </svg>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid space-2 space-top-lg-0 mt-lg-n10">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <form class="js-validate" id="form" method="post">
                    <!-- Navbar -->
                    <div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
                        <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
                            <!-- Card -->
                            <div class="card mb-5">
                                <div class="card-body">
                                    <div class="card-header">
                                        <h5 class="card-title">Filter</h5>
                                    </div>
                                    <!-- List -->
                                    <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
                                        <li class="nav-item">
                                            <a>
                                                Date
                                            </a>
                                            <a>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <div id="flatpickrWrapperFrom" class="flatpickr input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                            <input asp-for="Date" class="js-range-flatpickr form-control bg-transparent rounded-right" type="text" placeholder="From" aria-label="From" value="@DateTime.Now.ToString("yyyy-MM-dd")"
                                                                   data-hs-flatpickr-options='{ "appendTo": "#flatpickrWrapperFrom", "dateFormat": "Y-m-d" }'>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- End List -->
                                </div>
                                <!-- Footer -->
                                <div class="card-footer d-flex justify-content-end">
                                    <span class="mx-2"></span>
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                                <!-- End Footer -->
                            </div>

                        </div>
                        <!-- End Card -->
                    </div>
                </form>
            </div>
            <!-- End Navbar -->

            <div class="col-lg-9 mx-auto">
                <div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
                    <!-- Card -->

                    @if (Model.ShowReport == false)
                    {
                    <div id="editAddressCard" class="card mb-3 mb-lg-5">
                        <div class="card-header">
                            <h5 class="card-title">Report Information</h5>
                        </div>
                        <div class="card">
                            <div class="card-body">

                                <div class="container">
                                    <div class="row justify-content-md-between">
                                        <div class="col-md-6 space-2 space-bottom-lg-3 space-top-md-5">
                                            <!-- Text/Links -->
                                            <p class="font-size-1 text-dark">
                                                <h1><a class="font-weight-bold" href="#">This is a report previwer for Daily Sales for Operations</a></h1>
                                            </p>
                                            <!-- End Text/Links -->
                                        </div>
                                        <div class="col-md-5 align-self-md-end d-none d-md-inline-block">
                                            <!-- SVG Icon -->
                                            <figure class="mb-n3">
                                                <img class="img-fluid" src="@LocalisationService.HtmlTemplate/assets/svg/illustrations/knowledgebase-community-1.svg" alt="Image Description">
                                            </figure>
                                            <!-- End SVG Icon -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    }
                    else
                    {
                        <div id="editAddressCard" class="card mb-3 mb-lg-5">
                            <div class="card-header">
                                <h5 class="card-title">Report Information</h5>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <iframe style="width: 100%; height: 1000px; border: none" src="@Model.Url">[Your browser does not support iframe, or has been configured not to display inline frames. </iframe>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script src="@LocalisationService.HtmlRoot/flatpickr/dist/flatpickr.min.js"></script>
    <script>
        $(document).ready(function () {

            // initialization of range flatpickr
            $('.flatpickr').flatpickr({
                //minDate: "today"
                //minDate: moment(new Date()).format("YYYY-MM-DD")
            });
        });
    </script>
}


