@model Triton.Service.Model.TritonExpress.Custom.PostalCodesModel

@{
    ViewData["Title"] = "GetByPostalCodeID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">

            <ul class="nav nav-tabs align-items-center">
                <li class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Administration</a></li>
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Overview</a></li>
                        </ol>
                    </nav>

                    <h1 class="page-header-title">PostalCodes</h1>
                <li />

            </ul>
        </div>
        <!-- End Page Header -->
        <!-- Content Section -->

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                    @Model.ErrorMessage

                </strong>

            </div>
        }
        <form class="js-validate" method="post" asp-action="UpdatePostalCodes" asp-controller="PostalCodes">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">Postal Codes </p>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Form Group -->
                            <div class="form-group js-form-message">
                                <label for="PostalCodeLabel" class="input-label">Postal Code</label>
                                <input id="PostalCodeTextBox" type="text" class="form-control stringValidation" required maxlength="255"
                                       data-msg="Please enter Postal Code." placeholder="Postal Code" asp-for="@Model.PostalCodes.PostalCode" value="@Model.PostalCodes.PostalCode" aria-label="Current Value">
                            </div>
                            <!-- End Form Group -->
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group js-form-message">
                                <label class="input-label">Name</label>

                                <input id="NameTextBox" type="text" class="form-control stringValidation" required maxlength="255"
                                       data-msg="Please enter Name." placeholder="Name" asp-for="@Model.PostalCodes.Name" value="@Model.PostalCodes.Name" aria-label="Current Value">

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Form Group -->
                            <div class="form-group js-form-message">
                                <label for="SuburbCodeLabel" class="input-label">Suburb</label>
                                <input id="SuburbTextBox" type="text" class="form-control stringValidation" required maxlength="255"
                                       data-msg="Please enter Suburb." placeholder="Suburb" asp-for="@Model.PostalCodes.Suburb" value="@Model.PostalCodes.Suburb" aria-label="Current Value">
                            </div>
                            <!-- End Form Group -->
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group js-form-message">
                                <label class="input-label">Rate Area</label>

                                <input id="RateAreaTextBox" type="text" class="form-control stringValidation" required maxlength="255"
                                       data-msg="Please enter RateArea." placeholder="Rate Area" asp-for="@Model.PostalCodes.RateArea" value="@Model.PostalCodes.RateArea" aria-label="Current Value">

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group js-form-message">
                                <label for="licenseExpiaryLabel" class="input-label">Action Date</label>
                                <div class="form-message mb-3">
                                    <!-- Flatpickr -->
                                    <!-- Flatpickr -->
                                    <input type="text" class="js-flatpickr form-control flatpickr-custom" placeholder="Select dates" required data-msg="Please select a ActionedOn date" value="@Model.PostalCodes.ActionedOn" asp-for="@Model.PostalCodes.ActionedOn"
                                           data-hs-flatpickr-options='{
                                                "dateFormat": "Y/m/d"
                                            }'>
                                    <!-- End Flatpickr -->
                                    <!-- End Flatpickr -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group js-form-message">
                                <label class="input-label">Branch Code</label>
                                <div>
                                    @Html.DropDownListFor(m => m.SelectedBranchCode, new SelectList(Model.Branches, "BranchName", "BranchFullName"), new { @class = "js-select2-custom" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Form Group -->
                            <div class="form-group js-form-message">
                                <label for="BayNoLabel" class="input-label">Bay Number</label>
                                <input id="SuburbTextBox" type="text" class="form-control stringValidation"
                                       data-msg="Please enter Bay Number." placeholder="BayNo" asp-for="@Model.PostalCodes.BayNo" value="@Model.PostalCodes.BayNo" aria-label="Current Value">
                            </div>
                            <!-- End Form Group -->
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group js-form-message">
                                <label class="input-label">Bay Name</label>

                                <input id="BayNameTextBox" type="text" class="form-control stringValidation"
                                       data-msg="Please enter BayName." placeholder="Bay Name" asp-for="@Model.PostalCodes.BayName" value="@Model.PostalCodes.BayName" aria-label="Current Value">

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Form Group -->
                            <div class="form-group js-form-message">
                                <label for="BayRouteLabel" class="input-label">Bay Route</label>
                                <input id="BayRouteTextBox" type="text" class="form-control stringValidation"
                                       data-msg="Please enter Bay Route." placeholder="Bay Route" asp-for="@Model.PostalCodes.BayRoute" value="@Model.PostalCodes.BayRoute" aria-label="Current Value">
                            </div>
                            <!-- End Form Group -->
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group js-form-message">
                                <label class="input-label">Known As</label>

                                <input id="KnownAsTextBox" type="text" class="form-control stringValidation" required
                                       data-msg="Please enter KnownAs." placeholder="KnownAs" asp-for="@Model.PostalCodes.KnownAs" value="@Model.PostalCodes.KnownAs" aria-label="Current Value">

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Form Group -->
                            <div class="form-group js-form-message">
                                <label class="input-label">Transit Time</label>
                                <div>
                                    @Html.DropDownListFor(m => m.SelectedPostalCodeTransitTimeId, new SelectList(Model.PostalCodeTransitTime, "PostalCodeTransitTimeID", "Description"), new { @class = "js-select2-custom" })
                                </div>

                            </div>
                            <!-- End Form Group -->
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <!-- Form Group -->
                                <label class="input-label">Status</label>
                                <div>
                                    @Html.DropDownListFor(m => m.SelectedPostalCodeStatusId, new SelectList(Model.PostalCodeStatus, "PostalCodeStatusID", "Description"), new { @class = "js-select2-custom" })
                                </div>
                                <!-- End Form Group -->
                            </div>
                        </div>


                        <!-- End Form Group -->
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Form Group -->
                            <div class="form-group js-form-message">
                                <label class="input-label">Serviced By</label>
                                <div>
                                    @Html.DropDownListFor(m => m.SelectedLookupcodesId, new SelectList(Model.Lookupcodes, "LookUpCodeID", "Name"), new { @class = "js-select2-custom" })
                                </div>

                            </div>
                            <!-- End Form Group -->
                        </div>
                      


                        <!-- End Form Group -->
                    </div>
                    <!-- Footer -->

                    <div class="card-footer">
                        <div class="d-flex justify-content-end align-content-end">
                            <a class="btn btn-white " href="@Url.Action("GetByPostalCode", "PostalCodes",new {postalCode = Model.PostalCodes.PostalCode })">Cancel</a>
                            <input type="submit" value="Save" class="btn btn-primary ml-2" id="btnSave" />


                        </div>

                    </div>


                    <!-- End Footer -->
                    @Html.HiddenFor(model => model.PostalCodes.PostalCodeID)


                </div>


            </div>
        </form>

        <!-- End Content Section -->
    </div>
</main>
@section scripts {
    <!-- JS Plugins Init. -->
    <script src="~/front-dashboard-v1.1/dist/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="~/front-dashboard-v1.1/src/assets/js/hs.flatpickr.js"></script>
    <script>

        $(document).on('ready',
            function () {

                // INITIALIZATION OF FLATPICKR
                // =======================================================
                $('.js-flatpickr').each(function () {
                    $.HSCore.components.HSFlatpickr.init($(this));
                });
            });

    </script>

}