@model IEnumerable<Triton.Service.Model.TritonGroup.StoredProcs.proc_Users_Summary>

@{
    ViewData["Title"] = "UsersSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int height;
}

<main id="content" role="main" class="main">
    <!-- Breadcrumb Section -->
    <partial name="_LayoutHeader" view-data='@new ViewDataDictionary(ViewData) { { "HeadingDetails", "Purchase Orders" },{ "HeadingSubTittle", "User Configuration" },{ "HeadingSubDetails", "Overview" } }' />
    <!-- End Breadcrumb Section -->
    <!-- Content Section -->

    <div class="content container-fluid my-n9">
        <div class="card">
            <!-- Header -->
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
                        <form>
                            <!-- Search -->
                            <div class="input-group input-group-merge input-group-flush">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-search"></i>
                                    </div>
                                </div>
                                <input id="datatableSearch" type="search" class="form-control" placeholder="Filter results" aria-label="Filter results">
                            </div>
                            <!-- End Search -->
                        </form>
                    </div>
                </div>
                <!-- End Row -->
            </div>
            <!-- End Header -->
            <!-- Table -->
            @if (Model.Count() >= 1)
            {
                height = 150;
            }
            else
            {
                height = 0;

            }
            <div class="table-responsive datatable-custom">
                <div id="datatable_wrapper" class="dataTables_wrapper">
                    <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table" style="margin-bottom: @(height+"px");"
                           data-hs-datatables-options='{
                     "order": [0, "asc"],
                     "columnDefs": [ {
                            "targets": 6,
                            "orderable": false
                     } ],
                     "info": {
                       "totalQty": "#datatableWithPaginationInfoTotalQty"
                     },
                     "search": "#datatableSearch",
                     "entries": "#datatableEntries",
                     "pageLength": 8,
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatablePagination"
                   }'>
                        <thead class="thead-light">
                            <tr>
                                <th>UserName</th>
                                <th>Full Names</th>
                                <th>Branch FullName</th>
                                <th>Job Profile</th>
                                <th>Employee</th>
                                <th>Role Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="font-size-1">
                            @foreach (var item in Model)
                            {
                                <tr class="">
                                    <td class="align-middle">
                                        <a class="d-flex align-items-center">
                                            <div class="avatar avatar-soft-primary avatar-circle">
                                                <span class="avatar-initials">@item.FWUsername.Substring(0, 1)</span>
                                            </div>
                                            <div class="ml-3">
                                                <span class="d-block h5  mb-0">@item.FWUsername</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        @{

                                            var fullNames = (@item.FirstName == "N/A" && item.LastName == "N/A") ? "N/A" : $"{@item.FirstName} {@item.LastName}";
                                        }
                                        <div class="media align-items-center">
                                            <span>@fullNames</span>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="media align-items-center">
                                            @{
                                                var branches = @item.BranchName;
                                                var badgeColor = !@item.BranchName.Equals("N/A") ? "badge-success" : "badge-danger";
                                                if (!branches.Equals("N/A") && branches.Contains(','))
                                                {
                                                    foreach (var branch in branches.Split(','))
                                                    {
                                                        <span class="badge @badgeColor">@branch</span>
                                                        <span style="padding-right:3px;">&nbsp;</span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="badge @badgeColor">@branches</span>

                                                }

                                            }

                                        </div>
                                    </td>

                                    <td class="align-middle">
                                        <div class="media align-items-center">
                                            <span>@item.JobProfile</span>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        @{
                                            var linked = "fa-link";
                                            var linkedColor = "success";
                                            if (item.Employee == "N/A")
                                            {
                                                linked = "fa-unlink";
                                                linkedColor = "danger";
                                            }
                                        }
                                        <div class="media align-items-center">
                                            <span>
                                                <span class="text-@linkedColor ml-1"><i class="fas @linked  m-1"></i></span>
                                                @item.Employee
                                            </span>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        @{
                                            var badge = "";
                                            if (item.RoleNames == "N/A")
                                            {
                                                badge = "badge-danger";
                                            }
                                        }
                                        <div class="media align-items-center">
                                            <span class="badge @badge ">@item.RoleNames</span>
                                        </div>
                                    </td>

                                    <td class="align-middle">

                                        <div class="hs-unfold">
                                            <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;" data-hs-unfold-options="{
                                            &quot;target&quot;: &quot;#@item.UserID&quot;,
                                            &quot;type&quot;: &quot;css-animation&quot;
                                        }" data-hs-unfold-target="#@item.UserID" data-hs-unfold-invoker="">
                                                Actions <i class="tio-chevron-down ml-1"></i>
                                            </a>

                                            <div id="@item.UserID" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right hs-unfold-content-initialized hs-unfold-css-animation animated hs-unfold-hidden" data-hs-target-height="145.078" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
                                                <a class="dropdown-item" href="@Url.Action("Configurations", "Configurations", new { userId = item.UserID })"><i class="fal fa-user-edit mr-1"></i>Edit</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End Table -->
            <!-- Footer -->
            <div class="card-footer">
                <!-- Pagination -->
                <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                    <div class="col-sm mb-2 mb-sm-0">
                        <!--<div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                        <span class="mr-2">Showing:</span>-->
                        @*Select*@
                        <!--<select id="datatableEntries" class="js-select2-custom"
                                      data-hs-select2-options='{
                          "minimumResultsForSearch": "Infinity",
                          "customClass": "custom-select custom-select-sm custom-select-borderless",
                          "dropdownAutoWidth": true,
                          "width": true
                        }'>
                                  <option value="4">4</option>
                                  <option value="6">6</option>
                                  <option value="8" selected>8</option>
                                  <option value="12">12</option>
                              </select>-->
                        @*End Select*@
                        <!--<span class="text-secondary mr-2">of</span>-->
                        @*Pagination Quantity*@
                        <!--<span id="datatableWithPaginationInfoTotalQty"></span>
                        </div>-->
                    </div>

                    <div class="col-sm-auto">
                        <div class="d-flex justify-content-center justify-content-sm-end">
                            <!-- Pagination -->
                            <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                        </div>
                    </div>
                </div>
                <!-- End Pagination -->
            </div>
            <!-- End Footer -->
        </div>

    </div>


</main>