@model Triton.Operations.Models.CSAViewModel
<main id="content" role="main" class="main">
    <div id="loading">
        @*<i class="fad fa-spinner-third fa-spin fa-3x" style="--fa-primary-color: #EE384E;"></i>*@
        <div class="alert alert-danger" role="alert">
            <div class="spinner-border " role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->

        <div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">

            <ul class="nav nav-tabs align-items-center">
                <li class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">@Model.Name</a></li>
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">@Model.AccountCode </a></li>
                        </ol>
                    </nav>

                    <h1 class="page-header-title">Send Email</h1>
                <li />


                <li class="nav-item ml-auto">
                    <a class="btn btn-sm btn-outline-primary mr-2" href="@Url.Action("Overview", "CustomerServiceAgent")">
                        Back
                    </a>



                </li>
            </ul>
        </div>

        <!-- End Row -->
        <!-- End Page Header -->
    </div>


    <div class="content container-fluid my-n9">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <form id="form" method="post" asp-action="SendEmail" asp-controller="CustomerServiceAgent" class="js-validate" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">Email proposal </p>
                            <div class="col-sm-6 d-flex justify-content-end">
                                <div class="mr-2">
                                    <span class="legend-indicator bg-primary"></span><b class="strong">@Model.FilterDate</b>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <label class="col-sm-3 col-form-label input-label">To <span class="fas text-danger fa-lg mr-1">*</span></label>
                                <div class="col-sm-9 js-form-message mb-3">
                                    <input type="email" class="form-control" required placeholder="eg. siphon@tritonexpress.co.za" data-msg="Please enter a email to." id="@Html.IdFor(m => m.To)" name="@Html.NameFor(m => m.To)">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 col-form-label input-label">CC</label>
                                <div class="col-sm-9 js-form-message mb-3">
                                    <input type="email" class="form-control" placeholder="eg. siphon@tritonexpress.co.za" id="@Html.IdFor(m => m.CC)" name="@Html.NameFor(m => m.CC)">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 col-form-label input-label">Subject <span class="fas text-danger fa-lg mr-1">*</span></label>
                                <div class="col-sm-9 js-form-message mb-3">
                                    <input type="text" class="form-control" required placeholder="WEB101 - WEBBING PRODUCTS" id="@Html.IdFor(m => m.Subject)" name="@Html.NameFor(m => m.Subject)" data-msg="Please enter a email subject.">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="textareaLabel" class="col-sm-3 col-form-label input-label">Document <span class="fas text-danger fa-lg mr-1">*</span></label>
                                <div class="col-sm-9 js-form-message">
                                    @Html.DropDownListFor(m => m.CSALCID, new SelectList(Model.CSAList, "LookUpCodeID", "Name"), new
                               {
                                   @class = "js-select2-custom custom-select",
                                   size = "1",
                                   style = "opacity: 0;",
                                   id = "csaLCIDDropdown",
                                   change = "csaLCIDDropdown();"
                               })

                                </div>


                            </div>
                            <div class="form-group row">
                                <label for="textareaLabel" class="col-sm-3 col-form-label input-label">Email Body <span class="fas text-danger fa-lg mr-1">*</span></label>
                                <div class="col-sm-9 js-form-message">
                                    <textarea class="form-control" rows="4" placeholder="Please find attached document...."   data-msg="Please enter a email body."  required id="@Html.IdFor(m => m.EmailBody)" name="@Html.NameFor(m => m.EmailBody)"></textarea>
                                </div>


                            </div>
                        
                            <div class="form-group row" id="csaFileUploadDiv">
                                <label for="textareaLabel" class="col-sm-3 col-form-label input-label">Attachment <span class="fas text-danger fa-lg mr-1">*</span></label>
                                <div class="col-sm-9 js-form-message">

                                    <!-- File Attachment Input -->
                                    <label class="custom-file-boxed" for="customFileInputBoxedEg">
                                        <span id="customFileBoxedEg">Browse your device and upload documents</span>
                                        <small class="d-block text-muted">Maximum file size 10MB</small>

                                        <input id="customFileInputBoxedEg" name="file" type="file" class="js-file-attach custom-file-boxed-input"
                                               data-hs-file-attach-options='{
                                            "textTarget": "#customFileBoxedEg",
                                              "allowTypes": [".xlsx"]
                                        }' required>

                                    </label>

                                    <!-- End File Attachment Input -->

                                </div>
                            </div>

                        </div>
                        <br />

                        <div class="card-footer d-flex justify-content-end">
                            <a class="btn btn-white" href="@Url.Action("Overview", "CustomerServiceAgent")">Cancel</a>
                            <span class="mx-2"></span>
                            <button type="submit" class="btn btn-primary">Send Email</button>
                        </div>
                        @Html.HiddenFor(model => model.CutomerID)
                        @Html.HiddenFor(model => model.FilterDate)

                    </div>
                </form>
            </div>
        </div>


    </div>
</main>
<!-- Modal -->


@section scripts{
    <script src="~/front-dashboard-v1.1/dist/assets/vendor/quill/dist/quill.min.js"></script>
    <script src="~/front-dashboard-v1.1/src/assets/js/hs.quill.js"></script>

    <script>
        $(window).on('load', function () {
            $('#loading').hide();
        });

        $(document).on('ready', function () {

            // INITIALIZATION OF QUILLJS EDITOR
            // =======================================================
            var quill = $.HSCore.components.HSQuill.init('.js-quill');

            var selectedOption = $('#csaLCIDDropdown :selected').text();

            if (selectedOption == 'Customer Service Agent') {
                hideFileUpControl();
            }

            csaLCIDDropdown();

        });


        function csaLCIDDropdown() {

            $("#csaLCIDDropdown").change(function () {
                var selectedOption = $('#csaLCIDDropdown :selected').text();

                if (selectedOption == 'Customer Service Agent') {
                    hideFileUpControl();
                }
                else {
                    showFileUpControl();
                }

            });

        }

        function hideFileUpControl() {
            $("#csaFileUploadDiv").hide();
            $("#customFileInputBoxedEg").prop('required', false);
        }

        function showFileUpControl() {
            $("#csaFileUploadDiv").show();
            $("#customFileInputBoxedEg").prop('required', true);
        }

    </script>
}

